# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.*.local

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# IDEs and editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Other files
*.swp
*.swo
*.sublime-workspace
*.sublime-project
